<br>
<div class="upload">
    <form action="/saveproduct/{{product._id}}" method="POST" enctype="multipart/form-data" class="upload__container">

        <h2>{{#if product}}Editar{{else}}Nuevo{{/if}} producto</h2>

        <div class="upload__field">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" placeholder="Título" value="{{product.title}}" required>
        </div>
        <div class="upload__field">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" placeholder="Descripción"  rows="4" required>{{product.description}}</textarea>
        </div>
        <div class="upload__field">
            <label for="price">Precio:</label>
            <input type="text" id="price" name="price" placeholder="Precio" value="{{product.price}}" required>
        </div>
        <div class="upload__field">
            <label for="code">Código:</label>
            <input type="text" id="code" name="code" placeholder="Código" value="{{product.code}}">
        </div>
        <div class="upload__field">
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" placeholder="Categoría" value="{{product.category}}" required>
        </div>
        <div class="upload__field">
            <label for="stock">Stock:</label>
            <input type="text" id="stock" name="stock" placeholder="Stock" value="{{product.stock}}" required>
        </div>
        <div class="upload__field">
            <label for="image">Thumbnail:</label>
            <input type="file" id="image" name="image" value="{{product.thumbnail}}">
        </div>
        <div class="upload__field">
            <label for="status">Activo?</label>
            <input type="checkbox" id="status" name="status" value="{{product.status}}">
        </div>
        
        <input type="hidden" name="owner" value="{{owner}}">

        <div class="upload__field">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
