<h2>Listado de Usuarios</h2>
{{#if users.length}}
<div class="container wide-container">
    <table class="user-table">
        <thead class="table-header">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th class="last-connection-col">Última Conexión</th>
                <th>Rol</th>
                <th>Documentos</th>
                <th class="actions-col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr class="table-row">
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td class="last-connection-col">{{this.last_connection}}</td>
                <td>{{this.role}}</td>
                <td>
                    {{#if this.documents.length}}
                    {{#each this.documents}}
                    <a href="{{this.reference}}" target="_blank" title="{{this.name}}">
                        <i class="fas fa-file-alt"></i>
                    </a>
                     
                    {{/each}}
                    {{else}}
                    <p>---</p>
                    {{/if}}
                </td>
                <td class="action-icons actions-col">
                    <a href="/users/edit/{{this._id}}" title="Modificar"><i class="fas fa-edit"></i></a>
                    <a href="/users/delete/{{this._id}}" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                    <a href="/users/reset-password/{{this._id}}" title="Resetear Contraseña"><i
                            class="fas fa-key"></i></a>
                    <a href="mailto:{{this.email}}" title="Enviar Email"><i class="fas fa-envelope"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<p>No hay usuarios registrados.</p>
{{/if}}