<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img id="logotipo" src="/img/logotipo.jpeg" alt="Logotipo Codefour" style="height: 40px;">
    </a>

    {{#if session.login }}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Menú principal a la izquierda -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> 
                    <a class="nav-link" href="/"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Products </a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link {{#if (eq session.user.role "user")}} disabled-link{{/if}}" href="/realtimeproducts"><i class="fa fa-eye " aria-hidden="true" ></i> Realtime </a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link {{#if (eq session.user.role "user")}} disabled-link{{/if}}" href="/newproduct"> <i class="fa fa-plus-square" aria-hidden="true"></i> New Product </a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link {{#unless (eq session.user.role "admin")}} disabled-link{{/unless}}" href="/users"> <i class="fa fa-users"></i> Users </a> 
                </li>
                <li class="nav-item"> 
                    <a class="nav-link {{#if (eq session.user.role "admin")}} disabled-link{{/if}}" href="/chat"> <i class="fa fa-comments"></i> Chat</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (eq session.user.role "admin")}} disabled-link{{/if}}" href="/carts">
                        <i class="fas fa-shopping-cart"></i> Cart
                        {{#if session.cartCount}}
                            ({{session.cartCount}})
                        {{else}}
                            (0)
                        {{/if}}
                    </a>
                </li>
            </ul>

            <!-- Avatar y perfil del usuario a la derecha -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex; align-items: center;">
                        <div class="profile-container" style="position: relative;">
                            <img class="profile__miniavatar" src="{{session.user.avatar_url}}" alt="Avatar">
                            <span class="icon-overlay">
                                <i class="fas {{#if (eq session.user.role 'user') }} fa-user {{else}} {{#if (eq session.user.role 'premium')}} fa-star {{else}} fa-cog{{/if}}{{/if}}"></i>
                            </span>
                        </div>
                        <span class="ml-2">{{session.user.first_name}} {{session.user.last_name}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/api/users/profile">
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api/sessions/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    {{/if}}
</header>
